poll-content-card {
    .card{
        min-height: 235px;
        .row1{
       .image{
        height: 150px;
        width: 100%;
       }
    }
    .row2{
        margin-top: 10px;
        height: 20px;
    }
    .row3{
        margin-top: 15px;
        height: 40px;
}
}
}