.logout{
margin-top: 25px;
color: color($colors, light);
}
.img{
    border-radius: 100%;
    
}
.userName{
    margin-top: 25px;
}
.userDetail{
    background-color: color($colors, terinary);
    color: color($colors, light);
}