header {
    background-color: color($colors, terinary);
    text-align: center;
    color: color($colors, light);
.menu{
margin-top: 10px;
background-color: color($colors, terinary);
}
.search{
margin-top: 0px;
}
.title{
margin-top: 10px;

}
.searchIcon{
    margin-top: 20px;
}
.activitiesMenu{
    margin-top: 10px;
}
}