header {
    background-color: color($colors, terinary);
    text-align: center;
    width: 100%;
    height: 100%; 
.menu{
margin-top: 10px;
background-color: color($colors, terinary);
color: color($colors, light);
}
.search{
margin-top: 0px;
}
.title{
margin-top: 10px;
color: color($colors, light);
}
.searchIcon{
    color: color($colors, light);
    margin-top: 20px;
}
.activitiesMenu{
    color: color($colors, light);
    margin-top: 10px;
    background-color: color($colors, terinary);
}
.navbar{
    padding: 0px;
}
}